/* INDEX.HTML */ /* INDEX.HTML */ /* INDEX.HTML */ /* INDEX.HTML */ /* INDEX.HTML */

/* NAVBAR */

.navbar {
  box-shadow: 0px 7px 7px rgb(250, 250, 250);
  background-image: url(img/gradien.jpg);
  background-size: cover;
}

.navbar-brand {
  font-weight: bolder;
  font-size: 25px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.nav-link {
  font-size: 18px;
  font-weight: bolder;
  color: white !important;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.navbar a {
  font-size: 18px;
  font-weight: bolder;
}

/* AKHIR NAVBAR */

/* BAGIAN 1 */

#bagian-1 {
  background-image: url(img/index-mobile.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: -50px 0px;
}

#bagian-1 h1 {
  margin-top: 80px;
  margin-bottom: 30px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  font-weight: bolder;
  font-size: 35px;
  font-family: 'Padauk', sans-serif;
}

#bagian-1 img {
  border-radius: 50%;
  height: 250px;
  margin-bottom: 50px;
}

#bagian-1 .datadiri {
  height: 200px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 0px;
}

/* AKHIR BAGIAN 1 */

/* AKHIR INDEX.HTML */ /* AKHIR INDEX.HTML */ /* AKHIR INDEX.HTML */ /* AKHIR INDEX.HTML */

/* ------------------------------------------------------
  ------------------------------------------------------ */

/* FITUR.HTML */ /* FITUR.HTML */ /* FITUR.HTML */ /* FITUR.HTML */

/* BAGIAN 2 */

#bagian-2 {
  background-color: royalblue;
}

#bagian-2 img {
  height: 0px;
  margin-top: 50px;
  margin-bottom: 20px;
}

#bagian-2 h1 {
  margin-top: -50px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Padauk', sans-serif;
  color: white;
}

#bagian-2 p {
  margin-bottom: -30px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 11px;
  text-transform: capitalize;
  text-align: justify;
  font-family: 'Padauk', sans-serif;
  color: white;
}

#bagian-2 .responsive {
  height: 180px;
  width: 340px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

/* AKHIR BAGIAN 2 */

/* BAGIAN 3 */

#bagian-3 {
  background-color: royalblue;
}

#bagian-3 img {
  height: 170px;
  margin-top: 50px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

#bagian-3 h1 {
  margin-top: 100px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Padauk', sans-serif;
  color: white;
}

#bagian-3 p {
  margin-bottom: -30px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 21px;
  text-transform: capitalize;
  text-align: justify;
  font-family: 'Padauk', sans-serif;
  color: white;
}

/* AKHIR BAGIAN 3 */

/* BAGIAN 4 */

#bagian-4 {
  background-color: royalblue;
}

#bagian-4 img {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

#bagian-4 h1 {
  margin-top: 100px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  font-weight: bolder;
  font-size: 40px;
  font-family: 'Padauk', sans-serif;
  color: white;
}

/* AKHIR BAGIAN 4 */

/* BAGIAN 5 */

#bagian-5 {
  margin-top: -50px;
  background-color: royalblue;
}

#bagian-5 h1 {
  margin-top: 100px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Padauk', sans-serif;
}

#bagian-5 p {
  text-align: justify;
  text-transform: capitalize;
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 15px;
  font-family: 'Padauk', sans-serif;
}

/* AKHIR BAGIAN 5 */

/* BAGIAN 6 */

#bagian-6 {
  margin-top: -50px;
  background-color: royalblue;
}

#bagian-6 h1 {
  margin-top: 100px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Padauk', sans-serif;
}

#bagian-6 p {
  text-align: justify;
  text-transform: capitalize;
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 15px;
  font-family: 'Padauk', sans-serif;
}

/* AKHIR BAGIAN 6 */

/* BAGIAN 7 */

#bagian-7 {
  margin-top: -50px;
  background-color: royalblue;
}

#bagian-7 h1 {
  margin-top: 100px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Padauk', sans-serif;
}

#bagian-7 p {
  text-align: justify;
  text-transform: capitalize;
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 15px;
  font-family: 'Padauk', sans-serif;
}

/* AKHIR BAGIAN 7 */

/* BAGIAN 8 */

#bagian-8 {
  margin-top: -50px;
  background-color: royalblue;
}

#bagian-8 h1 {
  margin-top: 100px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Padauk', sans-serif;
}

#bagian-8 p {
  text-align: justify;
  text-transform: capitalize;
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 15px;
  font-family: 'Padauk', sans-serif;
}

#bagian-8 img {
  height: 180px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

/* AKHIR BAGIAN 8 */

/* FITUR.HTML */ /* FITUR.HTML */ /* FITUR.HTML */ /* FITUR.HTML */

/* ------------------------------------------------------
  ------------------------------------------------------ */

/* NG0DING.HTML */ /* NG0DING.HTML */ /* NG0DING.HTML */ /* NG0DING.HTML */ /* NG0DING.HTML */

#bagian-satu {
  background-image: url(img/ngoding-mobile.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 0px 0px;
}

#bagian-satu h1 {
  font-family: 'Padauk', sans-serif;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  font-weight: bolder;
  font-size: 40px;
}
#bagian-satu p {
  border-radius: 10px;
  background-color: red;
  font-family: 'Padauk', sans-serif;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  font-weight: bolder;
  font-size: 30px;
}

#bagian-satu .datadiri {
  height: 200px;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* AKHIR NG0DING.HTML */ /* AKHIR NG0DING.HTML */ /* AKHIR NG0DING.HTML */ /* AKHIR NG0DING.HTML */

/* ------------------------------------------------------
  ------------------------------------------------------ */

/* DEKSTOP VERSION */ /* DEKSTOP VERSION */ /* DEKSTOP VERSION */ /* DEKSTOP VERSION */

@media (min-width: 992px) {
  /* NAVBAR */

  .navbar {
    box-shadow: 0px 7px 7px rgb(250, 250, 250);
    background-image: url(img/gradien.jpg);
    background-size: cover;
  }

  .navbar-brand {
    font-weight: bolder;
    font-size: 25px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  .nav-link {
    font-size: 18px;
    font-weight: bolder;
    color: white !important;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  .navbar a {
    font-size: 18px;
    font-weight: bolder;
  }

  /* AKHIR NAVBAR */

  /* BAGIAN 1 */

  #bagian-1 {
    background-image: url(img/naruto-sasuke.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px 0px;
  }

  #bagian-1 h1 {
    margin-top: 80px;
    margin-bottom: 30px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    font-weight: bolder;
    font-size: 60px;
    font-family: 'Padauk', sans-serif;
  }

  #bagian-1 img {
    border-radius: 50%;
    height: 400px;
    margin-bottom: 50px;
  }

  #bagian-1 .datadiri {
    height: 400px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 0px;
  }

  /* AKHIR BAGIAN 1 */

  /* ------------------------------------------------------
  ------------------------------------------------------ */

  /* FITUR.HTML */ /* FITUR.HTML */ /* FITUR.HTML */ /* FITUR.HTML */

  /* BAGIAN 2 */

  #bagian-2 {
    background-color: royalblue;
  }

  #bagian-2 img {
    height: 350px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  #bagian-2 h1 {
    margin-top: 50px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Padauk', sans-serif;
    color: white;
  }

  #bagian-2 p {
    margin-bottom: -30px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 21px;
    text-transform: capitalize;
    text-align: justify;
    font-family: 'Padauk', sans-serif;
    color: white;
  }

  #bagian-2 .responsive {
    height: 300px;
    width: 540px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  /* AKHIR BAGIAN 2 */

  /* BAGIAN 3 */

  #bagian-3 {
    background-color: royalblue;
  }

  #bagian-3 img {
    height: 270px;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  #bagian-3 h1 {
    margin-top: 100px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Padauk', sans-serif;
    color: white;
  }

  #bagian-3 p {
    margin-bottom: -30px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 21px;
    text-transform: capitalize;
    text-align: justify;
    font-family: 'Padauk', sans-serif;
    color: white;
  }

  /* AKHIR BAGIAN 3 */

  /* BAGIAN 4 */

  #bagian-4 {
    background-color: royalblue;
  }

  #bagian-4 img {
    height: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  #bagian-4 h1 {
    margin-top: 100px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Padauk', sans-serif;
    color: white;
  }

  /* AKHIR BAGIAN 4 */

  /* BAGIAN 5 */

  #bagian-5 {
    margin-top: -50px;
    background-color: royalblue;
  }

  #bagian-5 h1 {
    margin-top: 100px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Padauk', sans-serif;
  }

  #bagian-5 p {
    text-align: justify;
    text-transform: capitalize;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 21px;
    font-family: 'Padauk', sans-serif;
  }

  /* AKHIR BAGIAN 5 */

  /* BAGIAN 6 */

  #bagian-6 {
    margin-top: -50px;
    background-color: royalblue;
  }

  #bagian-6 h1 {
    margin-top: 100px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Padauk', sans-serif;
  }

  #bagian-6 p {
    text-align: justify;
    text-transform: capitalize;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 21px;
    font-family: 'Padauk', sans-serif;
  }

  /* AKHIR BAGIAN 6 */

  /* BAGIAN 7 */

  #bagian-7 {
    margin-top: -50px;
    background-color: royalblue;
  }

  #bagian-7 h1 {
    margin-top: 100px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Padauk', sans-serif;
  }

  #bagian-7 p {
    text-align: justify;
    text-transform: capitalize;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 21px;
    font-family: 'Padauk', sans-serif;
  }

  /* AKHIR BAGIAN 7 */

  /* BAGIAN 8 */

  #bagian-8 {
    margin-top: -50px;
    background-color: royalblue;
  }

  #bagian-8 h1 {
    margin-top: 100px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Padauk', sans-serif;
  }

  #bagian-8 p {
    text-align: justify;
    text-transform: capitalize;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 21px;
    font-family: 'Padauk', sans-serif;
  }

  #bagian-8 img {
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  /* AKHIR BAGIAN 8 */

  /* FITUR.HTML */ /* FITUR.HTML */ /* FITUR.HTML */ /* FITUR.HTML */

  /* ------------------------------------------------------
  ------------------------------------------------------ */
  /* GAMBAR.HTML */ /* GAMBAR.HTML */ /* GAMBAR.HTML */ /* GAMBAR.HTML */

  #bagian-1-gambar {
    background-image: url(img/parallax5.jpg);
    background-attachment: fixed;
    background-size: cover;
  }

  #bagian-1-gambar h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  #bagian-1-gambar p {
    color: white;
    text-align: justify;
  }

  #bagian-1-gambar img {
    height: 280px;
    margin-bottom: 5px;
  }
  #bagian-2-gambar {
    background-image: url(img/parallax5.jpg);
    background-attachment: fixed;
    background-size: cover;
  }

  #bagian-2-gambar h1 {
    margin-top: 100px;
    margin-bottom: 30px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  #bagian-2-gambar p {
    color: white;
    text-align: justify;
  }

  #bagian-2-gambar img {
    height: 270px;
    width: 545px;
    margin-bottom: 5px;
  }

  /* AKHIR GAMBAR.HTML */ /* AKHIR GAMBAR.HTML */ /* AKHIR GAMBAR.HTML */ /* AKHIR GAMBAR.HTML */

  /* ------------------------------------------------------
  ------------------------------------------------------ */

  /* NG0DING.HTML */ /* NG0DING.HTML */ /* NG0DING.HTML */ /* NG0DING.HTML */ /* NG0DING.HTML */

  #bagian-satu {
    background-image: url(img/boru2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px 0px;
  }

  #bagian-satu h1 {
    font-family: 'Padauk', sans-serif;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    font-weight: bolder;
    font-size: 60px;
  }
  #bagian-satu p {
    border-radius: 10px;
    background-color: red;
    font-family: 'Padauk', sans-serif;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    font-weight: bolder;
    font-size: 30px;
  }

  #bagian-satu .datadiri {
    height: 400px;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  /* AKHIR NG0DING.HTML */ /* AKHIR NG0DING.HTML */ /* AKHIR NG0DING.HTML */ /* AKHIR NG0DING.HTML */

  /* ------------------------------------------------------
  ------------------------------------------------------ */

  /* KONTAK.HTML */ /* KONTAK.HTML */ /* KONTAK.HTML */ /* KONTAK.HTML */ /* KONTAK.HTML */

  #bagian-kontak {
    background-image: url();
  }
}
